doctype html

html(lang="en")
	head
		title Lesson Generator
		include head
		link(rel="stylesheet" href="../css/generator-styles.css")
	body
		include header
		main
			h2 Lesson Generator
			form(method="post" action="../generator")
				div#yg-field
					label(for="year") Year Group
					select(name="year" id="year")
						each val in [1, 2, 3, 4, 5, 6]
							if prefill && prefill.year === val
								option(value=val selected) Year #{val}
							else
								option(value=val) Year #{val}

				div#tags-field
					label(for="tags") Tags
					input(type="text" name="tags" id="tags")
				label#tag-msg Separate tags with commas (,)

				div#time-field
					label(for="duration") Time
					select(name="duration" id="duration")
						each val in [15, 20, 25, 30, 35, 40, 45, 50, 55, 60]
							if prefill && prefill.duration === val
								option(value=val selected)= val
							else
								option(value=val)= val
					label minutes

				input(type="submit" value="Generate Lesson")