doctype html

html(lang="en")
	head
		title My Details
		include head
		link(rel="stylesheet" href="../css/user-section-styles.css")
	body
		include header
		main
			include sidebar
			div#main
				h2 My Details
				form(method="post" action="../mydetails")
					input(type=number name="id" value=prefill.id hidden)
					div#username-field
						label(for="username") Username
						input(type="text" name="username" id="username" value=prefill.username disabled)

					div#password-field
						label(for="password") Password
						button#password: a(href="#" onclick="console.log('changed')") Change Password

					div#title-field
						label(for="title") Title
						select(name="title" id="title")
							each value in ["", "Mx", "Mr", "Ms", "Miss", "Mrs", "Dr"]
								if prefill.title == value
									option(value=value selected)= value !== "" ? value : "(none)"
								else
									option(value=value)= value !== "" ? value : "(none)"

					div#firstname-field
						label(for="firstname") First Name
						input(type="text" name="firstname" id="firstname" value=prefill.firstname)

					div#surname-field
						label(for="surname") Surname
						input(type="text" name="surname" id="surname" value=prefill.surname)

					input(type="submit" value="Save Changes")